<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kobana - Complete Website for LLMs</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <p><strong>⚠️ Note:</strong> This content is specifically designed for LLMs and not intended for human reading.</p>
      <p>👉 For human-readable content, please visit <a href="https://www.kobana.com.br">Kobana Website</a>.</p>
      <p>🤖 For LLMs/programmatic access, you can fetch this content directly:</p>
      <code class="inline-code">curl ai.kobana.com.br</code>
      <p>🇺🇸 Para ver esse conteúdo em Português, por favor visite <a href="/pt-BR">ai.kobana.com.br/pt-BR</a>
      <p>🌐 You see this HTML because you are in a browser. If you access it via curl/code/program, you get a text/markdown response as below. You can also access the markdown directly at <a href="/en-US.md">ai.kobana.com.br/en-US.md</a></p>
      <p>✨ <a href="https://github.com/universokobana/kobana-web-ai/">Check out our Github for more info</a></p>
    </header>
    <main>
      <button id="copyButton" data-label="Copy Prompt" data-copied="Copied!" data-failed="Failed to copy">
        Copy Prompt
      </button>
      <pre class="hidden-pre"><%= @markdown_content %></pre>
      <div id="content">
        <%= @html_content %>
      </div>
    </main>
    <footer>
      <p>For human-readable content, please visit <a href="https://www.kobana.com.br">www.kobana.com.br</a></p>
      <p>For direct content access: <code>curl ai.kobana.com.br/en-US</code></p>
    </footer>
    <script src="/copy-button.js"></script>
  </body>
</html>