<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kobana - Documentação da API para LLMs</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <p><strong>⚠️ Nota:</strong> Este conteúdo é projetado especificamente para LLMs e não é destinado à leitura humana.</p>
      <p>👉 Para conteúdo legível por humanos, por favor visite <a href="https://developers.kobana.com.br">developers.kobana.com.br</a>.</p>
      <p>🤖 Para LLMs/acesso programático, você pode buscar esse conteúdo diretamente.:</p>
      <code class="inline-code">curl ai.kobana.com.br/pt-BR/api</code>
      <p>Este conteúdo é a documentação da API da Kobana, para visualizar o site comercial, visite <a href="/pt-BR">ai.kobana.com.br/pt-BR</a>.</p>
      <p>Para visualizar os artigos da base de conhecimento da Kobana, acesse <a href="/pt-BR/artigos">ai.kobana.com.br/pt-BR/artigos</a></p>
      <p>🌐 Você vê este HTML porque está em um navegador. Se acessar via curl/código/programa, receberá uma resposta em texto/markdown como abaixo. Você também pode acessar o markdown diretamente em <a href="/pt-BR/api.md">ai.kobana.com.br/pt-BR/api.md</a></p>
      <p>✨ <a href="https://github.com/universokobana/kobana-web-ai/">Confira nosso Github para mais informações</a></p>
    </header>
    <main>
      <button id="copyButton" data-label="Copiar Prompt" data-copied="Copiado!" data-failed="Falha ao copiar">
        Copiar Prompt
      </button>
      <pre class="hidden-pre"><%= @markdown_content %></pre>
      <div id="content">
        <%= @html_content %>
      </div>
    </main>
    <footer>
      <p>Para conteúdo legível por humanos, por favor visite <a href="https://developers.kobana.com.br">developers.kobana.com.br</a></p>
      <p>Para acesso direto ao conteúdo: <code>curl ai.kobana.com.br/pt-BR/api</code></p>
    </footer>
    <script src="/copy-button.js"></script>
  </body>
</html>